{%  load static %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{%  static 'css/cover.css' %}">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">자이언츠 실책 저축 계산기</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-link" href="{% url 'history' %}">History</a>
        <a class="nav-link" href="{% url 'patch_note' %}">Patch Note</a>
        <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Contact</h1>
    <img src="{% static 'admin/img/raccoon.jpg' %}">
    <p class="lead">YOUNG IL SEO(01-2)<br>EMAIL : raccoon.zip@pusan.ac.kr<br>GITHUB : https://github.com/01-2</p>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Contact </a><a href="mailto:raccoon.zip@gmail.com">ADMIN</a>.</p>
    </div>
  </footer>
</div>
</body>