{%  load static %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
	<link rel="stylesheet" href="{%  static 'css/cover.css' %}">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">자이언츠 실책 저축 계산기</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        <a class="nav-link active" href="{% url 'history' %}">History</a>
        <a class="nav-link" href="{% url 'patch_note' %}">Patch Note</a>
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
      <!-- Section 1 : 도움말-->
      <div class="panel panel-default border rounded mb-3 p-3">
          <h2>저축표</h2>
          <div class="panel-body">
              <table class="table text-white" align="center" valign="center">
                  <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">삼진</th>
                        <th scope="col">병살</th>
                        <th scope="col">피홈런</th>
                        <th scope="col">보크</th>
                        <th scope="col">폭투</th>
                        <th scope="col">실책</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                        <th scope="col">개당 금액</th>
                        <th scope="col">500</th>
                        <th scope="col">1,000</th>
                        <th scope="col">1,000</th>
                        <th scope="col">3,000</th>
                        <th scope="col">5,000</th>
                        <th scope="col">10,000</th>
                  </tr>
                  </tbody>
              </table>
          </div>
          출처 : 롯데 오늘 실책했나요(https://www.facebook.com/LotteError/)
      </div>

      <!-- Section 2 : 데이터베이스 표시-->
      <div class="panel panel-default border rounded p-3">
            <div class="panel-body">
            <table class="table text-white" align="center" valign="center">
                  <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">삼진</th>
                        <th scope="col">병살</th>
                        <th scope="col">피홈런</th>
                        <th scope="col">보크</th>
                        <th scope="col">폭투</th>
                        <th scope="col">실책</th>
                        <th scope="col">총액</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                        <th scope="col">2019 시즌</th>
                        <th scope="col">{{ season.stkOut }}</th>
                        <th scope="col">{{ season.dbplay }}</th>
                        <th scope="col">{{ season.homerun }}</th>
                        <th scope="col">{{ season.balk }}</th>
                        <th scope="col">{{ season.passedBall }}</th>
                        <th scope="col">{{ season.error }}</th>
                        <th scope="col"></th>
                  </tr>
                  {% if history %}
                      {% for row in history %}
                      <tr>
                            <th scope="col">{{ row.date }}</th>
                            <th scope="col">{{ row.stkOut }}</th>
                            <th scope="col">{{ row.dbplay }}</th>
                            <th scope="col">{{ row.homerun }}</th>
                            <th scope="col">{{ row.balk }}</th>
                            <th scope="col">{{ row.passedBall }}</th>
                            <th scope="col">{{ row.error }}</th>
                            <th scope="col">{{ row.money }}</th>
                      </tr>
                      {% endfor %}
                  {% endif %}
                  {% if not history %}
                      <tr>
                            <th scope="col">-</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                      </tr>
                  {% endif %}
                  </tbody>
              </table>
            </div>
      </div>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Contact </a><a href="mailto:raccoon.zip@gmail.com">ADMIN</a>.</p>
    </div>
  </footer>
</div>
</body>